/* * {
  border: 1px solid red;
} */

body {
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
}

.hero {
  background-color: #1f2937;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  margin: 10px 10px 100px 10px;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.h_img {
  max-height: 300px;
  flex-shrink: 1;
}
.card_header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.item img {
  max-height: 250px;
  border: 2px solid #3882f6;
  border-radius: 15px;
}
.item {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quote {
  /* text-align: left; */
  /* max-width: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  max-width: 1000px;
  margin: 100px 0;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.cta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  /* max-width: 1000px; */
  margin: 100px;
  box-sizing: border-box;
  border: 1px solid #3882f6;
  border-radius: 10px;
}

.cta_left {
  margin-right: 250px;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: white;
}

.footer p {
  margin: 50px 0;
}
