* {
  /* border: 1px solid red; */
}

body {
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}
.navbar,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 800px 100px;
  background-color: #1f2937;
  color: white;
}
.header_left p {
  font-size: 18px;
  font-weight: 200;
  margin-top: 8px;
}

.nav-links a {
  padding: 0 10px;
}

.logo {
  font-weight: 700;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 36px;
  font-weight: bold;
}

.header_img img {
  height: 292px;
  padding-left: 18px;
}
.h_signUp {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  padding: 8px 30px;
  border: none;
}
